.msg-thread {
  margin-left: 20%;
  margin-right: 20%;
  text-indent: 1em;
  height: 60vh;
  overflow-y: auto;
  scrollbar-width: none;
  background-color: white;
  border: 1px solid black;
  border-radius: 1em;
  background-image: url("https://static.vecteezy.com/system/resources/previews/004/911/032/original/illustration-of-love-and-valentine-day-with-paper-heart-balloon-and-gift-box-float-on-the-blue-sky-can-be-used-for-wallpaper-flyers-invitation-posters-banners-paper-cut-style-free-vector.jpg");
  background-attachment: fixed;
}
